<a href="https://colab.research.google.com/github/batra-akshat/Introduction_to_ml/blob/main/linear_regression_scikit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
!pwd
%cd ..

/content
/

In [8]:
df = pd.read_csv('Fish.csv')
print(df.head());

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

In [9]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Species  159 non-null    object
 1   Weight   159 non-null    float64
 2   Length1  159 non-null    float64
 3   Length2  159 non-null    float64
 4   Length3  159 non-null    float64
 5   Height   159 non-null    float64
 6   Width    159 non-null    float64
dtypes: float64(6), object(1)
memory usage: 8.8+ KB

            Weight     Length1     Length2     Length3      Height       Width
count   159.000000  159.000000  159.000000  159.000000  159.000000  159.000000
mean    398.326415   26.247170   28.415723   31.227044    8.970994    4.417486
std     357.978317    9.996441   10.716328   11.610246    4.286208    1.685804
min       0.000000    7.500000    8.400000    8.800000    1.728400    1.047600
25%     120.000000   19.050000   21.000000   23.150000    5.944800    3.385650
50%     273.000000   25.200000   27.300000   29.400000    7.786000    4.248500
75%     650.000000   32.700000   35.500000   39.650000   12.365900    5.584500
max    1650.000000   59.000000   63.400000   68.000000   18.957000    8.142000

In [20]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()

# just converting string values of species to 0 and 1 that is numerical values here Bream = 0 , other_species = 1;
df['Species'] = label_encoder.fit_transform(df['Species'])
Y = df['Weight']
print(Y.head())

0    242.0
1    290.0
2    340.0
3    363.0
4    430.0
Name: Weight, dtype: float64

In [21]:
X = df[['Species' , 'Length1', 'Length2','Length3','Height','Width']]
print(X.head())

   Species  Length1  Length2  Length3   Height   Width
0        0     23.2     25.4     30.0  11.5200  4.0200
1        0     24.0     26.3     31.2  12.4800  4.3056
2        0     23.9     26.5     31.1  12.3778  4.6961
3        0     26.3     29.0     33.5  12.7300  4.4555
4        0     26.5     29.0     34.0  12.4440  5.1340

In [22]:
from sklearn.model_selection import train_test_split
X_train , X_test , Y_train , Y_test  = train_test_split(X,Y,train_size = 0.7 , test_size = 0.3 , random_state = 100)

In [27]:
from sklearn.linear_model import LinearRegression
Model = LinearRegression(normalize=True).fit(X_train,Y_train)

In [30]:
from sklearn.metrics import r2_score
Y_pred = Model.predict(X_test)
r2_score(y_pred,Y_test)

0.873578684931799